@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: rethink;
  src: url(font/RethinkSans-VariableFont_wght.ttf);
}

@font-face {
  font-family: poppins-medium;
  src: url(font/Poppins-Medium.ttf);
}

@font-face {
  font-family: poppins-bold;
  src: url(font/Poppins-Bold.ttf);
}

@font-face {
  font-family: montserrat-bold;
  src: url(font/Montserrat-Bold.ttf);
}

@font-face {
  font-family: robotomono-medium;
  src: url(font/RobotoMono-Medium.ttf);
}

p { 
  @apply text-[.9rem] font-rethink font-normal text-gray-700 dark:text-gray-400
}
 
.font-rethink {
  font-family: rethink;
  font-weight: 500;
}

.font-robotomono {
  font-family: robotomono-medium
}

.font-montserrat {
  font-family: montserrat-bold;
}

.font-poppins-medium {
  font-family: poppins-medium;
}

.font-poppins-bold {
  font-family: poppins-bold;
}

/* btn */
.btn-blue {
  @apply py-[7px] px-[15px] text-white bg-blue-500 rounded-[5px] font-rethink text-[.8rem] w-fit
}

.btn {
  @apply py-[7px] px-[15px] rounded-[5px] font-rethink text-[.8rem] w-fit
}
 
/* card */
.card {
  @apply rounded-md bg-grey
}

/* form */
.input-form {
  @apply bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-[8px] px-[5px] text-gray-700 text-[.8rem] font-rethink leading-tight focus:outline-none focus:bg-white focus:border-purple-500
}

label {
  @apply font-rethink
}